:root {
  --light-green: #d0e7d2;
  --pastel-green: #b0d9b1;
  --medium-green: #79ac78;
  --dark-green: #618264;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-green);
}

/* container styling */
.container {
  background-color: var(--light-green);
}

/* header styling */
.header-box {
  background-color: var(--medium-green);
}

.header {
  color: var(--light-green);
}

/* about styling */
.box {
  background-color: var(--medium-green);
  color: var(--light-green);
}

/* header array styling */
.header-array {
  background-color: var(--medium-green);
  color: var(--light-green);
}

#list-number {
  display: none;
}

.box-array {
  font-size: 14px;
  padding: 8px;
  list-style: none;
  background-color: var(--medium-green);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px 0px;
}

.array {
  margin: 1px;
  padding: 1px;
  border-radius: 2px;
  color: var(--light-green);
  background-color: var(--dark-green);
}

.array:hover {
  opacity: 0.7;
  cursor: default;
}

#play-again-button {
  display: none;
}
small {
  display: none;
}

/* form styling */
.form {
  color: var(--medium-green);
}

/* button styling */
.btn {
  background-color: var(--dark-green);
  border: none;
}

.btn:hover {
  background-color: var(--dark-green);
}
